.form__container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(184, 184, 184, .4);
    backdrop-filter: blur(1px);
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease;
}
.close{
    transform: scale(0);
}
.form{
    background-color: white;
    width: 100%;
    max-width: 320px;
    padding: 2em 1.2em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    box-shadow: 0 0 15px rgb(0, 0, 0, .5);
}
.form__title{
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
}
.form__exit{
    position: absolute;
    right: 1.2em;
    top: 1em;
    cursor: pointer;
    width: 1.3em;
    height: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.form__exit:hover{
    background-color: crimson;
    color: white;
    font-weight: 600;
}
.form__item{
    display: flex;
    flex-direction: column;
    gap: .3em;
}
.form__label{
    font-size: .7em;
    padding-left: 1em;
}
.form__input{
    padding: .3em .8em;
    font-size: .7rem;
    font-weight: 300;
}
.form__btn{
    padding: .5em 1em;
    background-color: #555A88;
    color: white;
    font-weight: 500;
    border-radius: .5em;
    margin-top: 1em;
}
.form__btn:hover{
    filter: brightness(1.06);
    box-shadow: 0 0 3px rgb(0, 0, 0, .5);
}