.user{
    background-color: white;
    width: 100%;
    max-width: 320px;
    height: 200px;
    padding: 1em;
    border-radius: .5em;
    box-shadow: 0 0 5px rgb(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user:hover{
    transform: scale(1.01);
}
.user__name{
    margin-bottom: .7em;
}
.user__list{
    width: 90%;
}
.user__item{
    display: flex;
    flex-direction: column;
}
.user__item:nth-child(1){
    margin-bottom: .5em;
}
.user__item-item{
    font-size: .8em;
    font-weight: 200;
    font-style: italic;
    padding-left: 1em;
    opacity: 1;
}
.user__item-data{
    color: #555A88;
    font-weight: 400;
}
.user__footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: .5em;
}.user__footer__btn{
    padding: .3em;
    width: 2em;
    aspect-ratio: 1;
    border-radius: .3em;
    color: white;
}
.user__footer__btn:hover{
    filter: brightness(1.06);
    box-shadow: 0 0 3px rgb(0, 0, 0, .5);
}
.btn__delete{
    background-color: crimson;
}
.btn__update{
    background-color: rgb(184, 184, 184);
}